* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: sans-serif;
    background-color: transparent;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    background-color: rgb(47, 51, 53);
    /* position: relative; */
    z-index: 9999;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 25px;
    padding-right: 60px;
}

.navbar li {
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.navbar ul li a {
    text-decoration: none;
    color: inherit;
}

.navbar ul li a:hover {
    color: rgb(241, 226, 7);
}

.navbar ul li img {
    height: 20px;
    width: auto;
    padding: 0;
    margin: 0;
}

.navbar img {
    display: block;
    height: 25px;
    padding-left: 40px;
}

.nav_botao {
    background-color: rgb(241, 226, 7);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 12px;
    height: 20px;
    width: 90px;
    border-radius: 30px;
    cursor: pointer;

    &:hover{
        background-color: yellowgreen;
        transform: all 0.3 ease;
    }
}


.profile {
    display: flex;
    align-items: center;
    gap: 5px; 
}

p{
    color: azure;
}

.meio {
    height: 57vh;
    /* background-color: rgb(14, 13, 13); */ 
    position: relative;
    background-color: rgb(14, 13, 13);
    background-image: url(assets/back\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    margin: 0;
    border: none;
}


.meio h1 {
    padding-top: 4rem;
    padding-left: 50px;
    font-size: 50px;
    color: white;
}

.meio span {
    background: linear-gradient(to right, #ffe601, #b18e03);
    /* Faz o fundo aparecer apenas onde existe texto */
    -webkit-background-clip: text;
    background-clip: text;
    /* Torna o texto transparente para que o fundo (degradê) apareça */
    -webkit-text-fill-color: transparent;
    color: transparent;
    /* O degradê aparece melhor em fontes mais grossas */
    font-weight: bold;
}

.meio p {
    font-size: 15px;
    padding-left: 50px;
    padding-top: 15px;

}

.fundo {
    height: 450px;
    width: 100vw;
    position: absolute;
    pointer-events: none;
}

.fundo img{
    width: 250;
    height: 450px;
    padding-left: 900px;
    padding-top: 140px;
    
}

.texto_p {
    align-items: center;
    padding-top: 20px;
}

.texto_p p{
    display: flex;
    align-items: center;
    gap: 12px;
}


.botoes_home {
    display: flex;
    gap: 30px;
    background-color: rgb(17, 16, 16);
    height: 10vh;
    padding-top: 30px;
    padding-left: 50px;
    padding-top: 25px;
    cursor: pointer;
    

}

.apss_home {
    display: flex;
    height: 30vh;
    background-color: rgb(17, 16, 16);
    flex-direction: column;
    justify-content: end;
    padding-bottom: 20px;
     
}

.rodape {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 30px;
}

.apss_home img{
    height: 60px;
    width: auto;
}

.botao_um {
    width: 190px;
    height: 45px;
    border-radius: 25px;
    font-weight: bolder;
    color: rgb(245, 241, 5);
    background-color: black;
    border: 1px solid yellow;
    cursor: pointer;

    &:hover{
        background-color: rgb(29, 29, 27);
        transform: all 0.3 ease;
    }
}

.botao_dois {
    width: 120px;
    height: 45px;
    border-radius: 25px;
    font-weight: bolder;
    color: black;
    background-color: rgb(241, 226, 7);
    border: 1px solid rgb(3, 3, 3);
    cursor: pointer;

    &:hover{
        background-color: yellowgreen;
        transform: all 0.3 ease;
    }
}

.home_landingdois{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(17, 16, 16);
}

.cabecalho_landingdois{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 30vh;
    text-align: center;

    p{
        display: flex;
        background-color: #222221;
        height: 30px;
        width: 150px;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        color: #ffe601;
    }

    h1{
        color: white;
    }
}

.grid_landingdois{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 70vh;
    justify-items: center;
    padding-left: 100px;
    padding-right: 100px;
       
}

.cards_landingdois{
    display: flex;
    flex-direction: column;
    height: 35vh;
    align-items: start;
    gap: 10px;
    padding-top: 20px;
    color: white;
      
    

    p{
        font-size: 10px;
        padding-top: 10px;
        
    }
}


